*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}

h1{
    white-space: nowrap;
}

.senha-container {
    background-color: beige;
    width: 650px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,.3);
}

h1 {
    white-space: nowrap;
    font-size: 33px;
    
}
.input-container {
    border: 2px solid black;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.input {
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 24px;
    letter-spacing: 4px;
}

.input::placeholder {
    letter-spacing: 0px;
}

.fa-copy {
   cursor: pointer;
   opacity: 0.3;
}

.fa-copy:hover {
    opacity: 0.7;
}

.btn {
    background-color: black;
    color: white;
    padding: 10px 40px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 20px;
}

.btn:hover {
    background-color: brown;
}

.btn:active {
    transform: scale(0.95);
}

.alerta-container {
    position: fixed;
    width: 350px;
    height: 50px;
    background-color: lightgreen;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 20px;
    bottom: 20px;
    border-radius: 10px;
    font-size: 24px;
    padding: 15px;
    transition: 0.4s;
    opacity: 0;
}

.alerta-container.active {
    opacity: 1;
}